<!doctype html>
<html>
   <body>

      <table border = 1>
         <thead>
            <td>Name</td>
            <td>Email</td>
            <td>password</td>
            <td>u_id</td>
         <td>company</td>
         <td>location</td>
         </thead>

         {% for row in rows %}

	<div class="small-container" id="Products">
	<h2 class="title">Products</h2>
	<div class="row">
		<div class="col-sm-3" id={{rows.index(row)+1}}>
			<a href=""><img src="/static/images/product1.jpg" class = "img-responsive" width = "100%">
			<h4>{{row['pname']}}</h4></a>
			<p>{{row['price']}}</p>
			<p>{{row['availability']}}</p>


		</div>
	</div>
	</div>

	 {% endfor %}
      </table>

      <a href = "/">Go back to home page</a>

   </body>
</html>